/* Estilos existentes */
body {
    font-family: Garamond;
    font-size: 11pt
}

h1,
h2,
h3,
h4,
p {
    margin: 0pt 0pt 6pt
}

li,
table {
    margin-top: 0pt;
    margin-bottom: 6pt
}

h1 {
    margin-top: 12pt;
    margin-bottom: 6pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    border-bottom: 0.75pt solid #000000;
    padding-bottom: 1pt;
    font-family: Garamond;
    font-size: 16pt;
    font-weight: bold;
    font-variant: small-caps;
    color: #000000;
    -aw-border-bottom: 0.5pt single
}

h2 {
    margin-top: 6pt;
    margin-bottom: 3pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    font-family: Garamond;
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    color: #000000
}

h3 {
    margin-top: 3pt;
    margin-bottom: 3pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    font-family: Garamond;
    font-size: 12pt;
    font-weight: bold;
    color: #000000
}

h4 {
    margin-bottom: 6pt;
    text-align: center;
    page-break-inside: auto;
    page-break-after: avoid;
    font-family: Garamond;
    font-size: 9pt;
    font-weight: bold;
    font-style: normal;
    color: #000000
}

.Abstract {
    margin-top: 12pt;
    margin-bottom: 0pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    border-bottom: 0.75pt solid #000000;
    padding-bottom: 1pt;
    font-family: Garamond;
    font-size: 18pt;
    font-weight: bold;
    font-variant: small-caps;
    color: #595959;
    -aw-border-bottom: 0.5pt single;
    -aw-outline-level: 1;
    -aw-style-parent: heading1
}

.BalloonText {
    margin-bottom: 6pt;
    line-height: normal;
    font-family: Tahoma;
    font-size: 8pt;
    -aw-style-name: balloon-text
}
.Header {
    margin-bottom: 6pt;
    line-height: normal;
    font-family: Arial;
    font-size: 10pt;
    -aw-style-name: header;
}

.page {
    position: relative;
    width: 100%;
    height: 150vh;
    page-break-after: always;
    margin-top: 100px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

.header {
    text-align: left;
    margin: 20px 0;
}

.page.first-page .header, .page.first-page .footer {
    display: none;
}

.header, .footer {
    position: absolute;
    width: 100%;
    font-size: 10pt;
}

.page:nth-of-type(odd) .header {
    top: 10px;
    left: 0;
    text-align: left;
}

.page:nth-of-type(odd) .footer {
    bottom: 10px;
    left: 0;
    text-align: left;
}
.Footer {
    margin-bottom: 0pt;
    line-height: normal;
    font-family: Arial;
    font-size: 10pt;
    -aw-style-name: footer
}

.FootnoteText {
    margin-bottom: 0pt;
    line-height: normal;
    font-family: Garamond;
    font-size: 10pt;
    -aw-style-name: footnote-text
}

.Header {
    margin-bottom: 6pt;
    line-height: normal;
    font-family: Arial;
    font-size: 10pt;
    -aw-style-name: header
}

.ListParagraph {
    margin-left: 36pt;
    margin-bottom: 6pt;
    font-family: Garamond;
    font-size: 11pt;
    -aw-style-name: list-paragraph
}

.PaperTitle {
    margin-top: 12pt;
    margin-bottom: 6pt;
    text-align: center;
    page-break-inside: avoid;
    page-break-after: avoid;
    border-bottom: 0.75pt solid #000000;
    padding-bottom: 1pt;
    font-family: Garamond;
    font-size: 18pt;
    font-weight: bold;
    font-variant: small-caps;
    -aw-border-bottom: 0.5pt single;
    -aw-outline-level: 1;
    -aw-style-name: 'Paper Title';
    -aw-style-parent: heading1
}

.PaperInfo {
    margin-bottom: 6pt;
    font-family: Garamond;
    font-size: 11pt;
    -aw-style-name: 'Paper_Info'
}

.RefJournal {
    margin-left: 18pt;
    margin-bottom: 6pt;
    text-indent: -18pt;
    font-family: Garamond;
    font-size: 10pt;
    -aw-style-name: 'Ref Journal'
}

.References {
    margin-left: 18pt;
    margin-bottom: 6pt;
    text-indent: -18pt;
    font-family: Garamond;
    font-size: 10pt
}

.Title {
    margin-bottom: 6pt;
    line-height: normal;
    border-bottom: 1pt solid #5b9bd5;
    padding-bottom: 4pt;
    font-family: Garamond;
    font-size: 16pt;
    font-weight: bold;
    letter-spacing: 0.25pt;
    color: #323e4f;
    -aw-style-name: title
}

span.AbstractChar {
    font-family: Garamond;
    font-size: 18pt;
    font-weight: bold;
    font-variant: small-caps;
    color: #595959;
    -aw-style-name: 'Abstract Char'
}

span.FollowedHyperlink {
    text-decoration: underline;
    color: #800080;
    -aw-style-name: followed-hyperlink
}

span.FooterChar {
    font-family: Arial
}

span.FootnoteReference {
    vertical-align: super;
    -aw-style-name: footnote-reference
}

span.FootnoteTextChar {
    font-family: Garamond
}

span.Heading1Char {
    font-family: Garamond;
    font-size: 16pt;
    font-weight: bold;
    font-variant: small-caps
}

span.Heading2Char {
    font-family: Garamond;
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps
}

span.Hyperlink {
    text-decoration: underline;
    color: #0000ff;
    -aw-style-name: hyperlink
}

span.PageNumber {
    -aw-style-name: page-number
}

span.PaperTitleChar {
    font-family: Garamond;
    font-size: 18pt;
    font-weight: bold;
    font-variant: small-caps;
    -aw-style-name: 'Paper Title Char'
}

span.PaperInfoChar {
    font-family: Garamond;
    font-size: 11pt;
    -aw-style-name: 'Paper_Info Char'
}

span.PlaceholderText {
    color: #808080;
    -aw-style-name: placeholder-text
}

span.RefJournalChar {
    font-family: Garamond;
    -aw-style-name: 'Ref Journal Char'
}

span.ReferencesChar {
    font-family: Garamond;
    -aw-style-name: 'References Char'
}

span.Strong {
    font-weight: bold;
    -aw-style-name: strong
}

span.TitleChar {
    font-family: Garamond;
    font-size: 16pt;
    font-weight: bold;
    letter-spacing: 0.25pt;
    color: #323e4f
}

span.UnresolvedMention {
    color: #808080;
    background-color: #e6e6e6;
    -aw-style-name: unresolved-mention
}

/* Novas classes adicionadas */
.header-primary {
    -aw-different-first-page: true;
    -aw-headerfooter-type: header-primary;
    clear: both;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
    font-size: 12pt;
}

.italic {
    font-style: italic;
}

.bold-highlight {
    font-weight: bold;
    background-color: #ffff00;
}

.TableGrid {
    width: 436.5pt;
    margin-bottom: 0pt;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-cell {
    width: 116.1pt; /* ou 172.8pt e 115.2pt, conforme necessário */
    padding-right: 5.4pt;
    padding-left: 5.4pt;
    vertical-align: top;
}

.table-cell-116 {
    width: 116.1pt;
    padding-right: 5.4pt;
    padding-left: 5.4pt;
    vertical-align: top;
}

.table-cell-172 {
    width: 172.8pt;
    padding-right: 5.4pt;
    padding-left: 5.4pt;
    vertical-align: top;
}

.table-cell-115 {
    width: 115.2pt;
    padding-right: 5.4pt;
    padding-left: 5.4pt;
    vertical-align: top;
}
.font-size-12pt {
    font-size: 12pt;
}

.font-weight-normal {
    font-weight: normal;
}

.TableGrid {
    width: 449.05pt;
    margin-bottom: 0pt;
    border-collapse: collapse;
    border-spacing: 0;
}
.table-cell-82 {
    width: 82.8pt;
    padding-right: 5.4pt;
    padding-left: 5.4pt;
    vertical-align: top;
}

.table-cell-330 {
    width: 330.25pt;
    padding-right: 5.4pt;
    padding-left: 5.4pt;
    vertical-align: top;
}
.aw-bookmark-end {
    -aw-bookmark-end: attr(value);
}

.aw-import-ignore {
    -aw-import: ignore;
}

.list-paragraph {
    margin-left: 28.06pt;
    margin-bottom: 0pt;
    padding-left: 7.94pt;
    font-family: serif;
    -aw-font-family: 'Symbol';
    -aw-font-weight: normal;
    list-style-type: disc;
}

.garamond {
    font-family: Garamond;
}

.italic {
    font-style: italic;
}
.aw-import-spaces {
    -aw-import: spaces;
}

.text-underline {
    text-decoration: underline;
}
.font-weight-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}

.table-style {
    width: 429.45pt;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0pt;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-cell-style {
    border-style: solid;
    border-width: 0.75pt;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #c0c0c0;
}

.page-break-avoid {
    page-break-after: avoid;
}

.font-size-10pt {
    font-size: 10pt;
}
.table-cell-style-34 {
    width: 34.5pt;
    border-style: solid;
    border-width: 0.75pt;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #c0c0c0;
}

.table-cell-style-63 {
    width: 63.1pt;
    border-style: solid;
    border-width: 0.75pt;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #c0c0c0;
}

.table-cell-style-56 {
    width: 56.55pt;
    border-style: solid;
    border-width: 0.75pt;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #c0c0c0;
}

.table-cell-style-58 {
    width: 58.9pt;
    border-style: solid;
    border-width: 0.75pt;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #c0c0c0;
}

.table-cell-style-46 {
    width: 46.5pt;
    border-style: solid;
    border-width: 0.75pt;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #c0c0c0;
}

.table-cell-style-69 {
    width: 69pt;
    border-style: solid;
    border-width: 0.75pt;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #c0c0c0;
}

.table-cell-style-white-33 {
    width: 33.7pt;
    border: 0.75pt solid #c0c0c0;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #ffffff;
}

.table-cell-style-white-34 {
    width: 34.45pt;
    border: 0.75pt solid #c0c0c0;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #ffffff;
}
.table-cell-style-white-35{
    width: 34.5pt;
    border: 0.75pt solid #c0c0c0;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #ffffff;
}
.table-cell-style-white-63 {
    width: 63.1pt;
    border: 0.75pt solid #c0c0c0;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #ffffff;
}

.table-cell-style-white-56 {
    width: 56.55pt;
    border: 0.75pt solid #c0c0c0;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #ffffff;
}

.table-cell-style-white-58 {
    width: 58.9pt;
    border: 0.75pt solid #c0c0c0;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #ffffff;
}

.table-cell-style-white-46 {
    width: 46.5pt;
    border: 0.75pt solid #c0c0c0;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #ffffff;
}

.table-cell-style-white-69 {
    width: 69pt;
    border: 0.75pt solid #c0c0c0;
    padding-right: 1.62pt;
    padding-left: 1.62pt;
    vertical-align: top;
    background-color: #ffffff;
}

.page-break-avoid {
    page-break-after: avoid;
}

.font-size-10pt {
    font-size: 10pt;
}

.font-size-11pt {
    font-size: 11pt;
}

.font-weight-normal {
    font-weight: normal;
}

.aw-import-ignore{
    -aw-import:ignore;
}


.page:nth-of-type(even) .header {
    top: 10px;
    right: 0;
    text-align: right;
}

.page:nth-of-type(even) .footer {
    bottom: 10px;
    right: 0;
    text-align: right;
}

.header img {
    max-height: 50px;
    margin-left: 300px;
    margin-right: 0;
}

.header-middle {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
}

.header-middle-line {
    border-left: 1px solid rgb(0, 225, 255);
    height: 150px;
    margin: 0;
}

.logo {
    max-height: 100px;
    max-width: 100px;
    height: auto;
    width: auto;
    margin-left: 340px;
}

.header-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.header-subtitle-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    font-size: 12px;
    font-style: italic;
    margin-left: 5px;
}

.header-subtitle {
    font-size: 15px;
    color: #333;
    text-align: left;
}

.header-subtitle-url {
    border-top: 1px solid rgb(0, 225, 255);
    width: 20%;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0;
    text-align: right;
    line-height: 1.5;
}

.blue-line {
    border-top: 1px solid rgb(0, 225, 255);
    width: 35%;
    margin: 2px 0;
    padding: 0 10px;
}

.long-line {
    width: 35%;
}

.short-line {
    width: 35%;
}

.volume-info {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.header, .footer {
    position: absolute;
    width: 100%;
    font-size: 10pt;
}

.header-left {
    top: 10px;
    left: 0;
    text-align: left;
}

.header-right {
    top: 10px;
    right: 0;
    text-align: right;
}



.page:nth-of-type(odd) .header-left {
    display: none;
}

.page:nth-of-type(odd) .header-right {
    display: block;
}

.page:nth-of-type(odd) .footer-left {
    bottom: 10px;
    left: 0;
    text-align: left;
}

.page:nth-of-type(even) .footer-right {
    bottom: 10px;
    right: 0;
    text-align: right;
}
.page:nth-of-type(even) .header-left {
    display: block;
}

.page:nth-of-type(even) .header-right {
    display: none;
}
.page.first-page .header, .page.first-page .footer {
    display: none;
}

.vertical-line {
    border-left: 1px solid rgb(0, 225, 255);
    height: 150px;
    margin: 0 5px;
}
/* Estilo do rodapé da primeira página */
.first-page-footer {
    display: flex;
    position: flex;
    bottom: 9px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;

}

@media print{
    body:first-of-type .first-page-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-top: 2px solid #000;
        font-family: Arial, sans-serif;
        font-size: 10pt;

    }
}
.section-completed{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    color: brown;    
}
.first-page-footer .editor-info{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}
.first-page-footer .dates{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.first-page-footer .dates div {
    flex: 1;
    text-align: center;
    border-left: 1px solid #000;
    padding: 0 10px;
}
.first-page-footer .dates div: first-child{
    border-left: none;
}



